## Python Data Types
- Data Types refers to the classification of data values based on their characteristics.
- Python Data Type means how Python represents different types of data.
- **Categories**
  1. `Basic Data Types`:
    - They are fundamental Data Types provided by the language itself.
    - Example: Integer, Float, Complex Numbers, Boolean, String

  2. `Compound Data Types`:
    - They are composed of multiple basic data types or other compound data types.
    - Example: List, Tuple, Set, Dictionary, etc


<img src='https://drive.google.com/uc?id=12s3_weoabmPHMpk3GNMjtgNxL5ngZCOj'>

## 1. Numbers in Python
- Python has mainly 3 categories of numbers i.e.  
  i. `Integer`: whole number (no decimal point). Can be postive or negative.  
  ii. `Float`: Real Numbers. Includes decimal points or use exponential (e) to define numbers  
  iii. `Complex`: Expressed as real and imaginary part i.e **a + jb**   
  

| Examples                 | Number "Type"        |
|--------------------------|----------------------|
| 1, 2, -5, 1000           | Integers             |
| 1.2, -0.5, 2e2, 3E2     | Floating-point numbers |
| 3+4j, -2j, 1+2j, -5-6j | Complex numbers      |

**NoneType**  
- The `None` keyword is used to define a null value, or no value at all.
- `Uses`: can be treated as placeholder object
- None is not the same as 0, False, or an empty string.
- None is a data type of its own NoneType, and only None can be None.

In [12]:
# Uncomment below line and initialize variables  "non_value" to None

non_value = None
print(non_value)

None

In [11]:
# Get data type of variable "non_value" and
# print the result 
non_value  = None
data_type = type(non_value)
print(data_type)

<class 'NoneType'>

**Integer Type**

In [8]:
# assign integer value 5 to variable named "int_value" and,
# print the result

int_value = 5
print(int_value)
# None placeholder object

5

In [10]:
# Variable reassignment
# assign new value 10 to same variable named "int_value" and,
# print the result
int_value = 10
print(f'The integer value is {int_value}')

The integer value is 10

We can see, Due to `Dynamic Typing` Python allows us to dynamically reassign the values assigned to the variables.

In [7]:
# Display id of variable "int_value"
# hint: id()
int_value =  42
print(id(int_value))

2681878218256

In [5]:
# Display type of the variable "int_value"
# use: type() function

int_type = 7
print("Data Type:", type(int_type))

Data Type: <class 'int'>

In output we can see, `Data Type: <class 'int'>`. It means when we create variables, we are actually creating object of that Data Type (Integer). So, in python everything is class and object.

In [13]:
# Verify integer type using isinstance() function
# hint: isinstance(var_name, int)
var_name = "Pawan"
print(isinstance(var_name, str))

True

**Float Type**

In [1]:
# assign float value 2e1 to variable named "float_value"
# print the result

float_value = 2e1
print(float_value)

20.0

In [16]:
# get variable data type and print the result
non_value = None
data_type = type(non_value)
print(data_type)

<class 'NoneType'>

In [ ]:
# verify float type using isinstance() function

In [17]:
# Display id of the variable "float_value"
float_value = 2.76
print(isinstance(float_value, float))

True

In [18]:
# variable reassignment
#
# assign new float value say 100.11 to same variable named "float_value" and,
# print the result

float_value = 100.11
print(isinstance(float_value, float))

True

In [19]:
# get variable data type and,
# print the result
variable = 45
data_type = type(variable)
print(f"The data type of {variable} is: {data_type}")

The data type of 45 is: <class 'int'>

In [ ]:
# Display id of the variable "float_value" after variable reassignment

As we can see, `id` changes after variable reassignment, since they point to different memory address after variable assignment by new value.

**Complex Type**
- consist of real part and imaginary part: a + jb
- E.g.

In [ ]:
# assign complex number 2+jb to variable named "complex_value"
# print the result

complex_value = None

In [ ]:
# extract imaginary part and real part separately
# hint: .real, .imag

Optionally, you can see all the attributes and methods of the object using `dir()` built in function. 

Example: dir(complex_value)

In [1]:
# list attributes and methods of complex object type
# use dir() built in function
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'os',
 'quit',
 'sys']

In [2]:
# get complex variable data type and print the result
complex_number = 2 + 3j
data_type = type(complex_number)
print(data_type)

<class 'complex'>

- **complex()**: 
  - function to create complex numbers with Integer/Float Type parameters.
  - returns a complex numbers (real + imaginary) when real and imaginary parts are passed.
  - Syntax: complex(real_part, imaginary_part)
    - Example: complex(1, 2) --> 1+2j
  - It can also converts a string to a complex number.
    - If first argument is string, then second argument shouldn't be passed else will raise TypeError.
      - e.g. complex("2", "3j") --> False
    - Also, string must not contain whitespace around + or - operator else it 
  will raise ValueError in Python.
      - e.g. complex("3 + 2j")


  - `Exercise`
    1. Create a complex number 0j. 
      - Hint: do not pass any arguments.
    2. Create a complex number 2+3j using complex() function passing integer 2 and 3. Get the data type, and print the result.
    3. Create a complex number 2+3j using complex() function passing string as argument. Get the data type and print the result.

In [2]:
# 1. Create a complex number 0j. Get the Data Type and Print the result.
test = complex()
type(test)
print(test)

0j

In [3]:
# 2. Create a complex number 2+3j using complex() function passing integer 2 and 3.
test = complex(2, 3)
print(test)

(2+3j)

In [1]:
# 3. Create a complex number 2+3j using complex() function passing string as argument. Get the data type and print the result.
complex_number = complex("2+3j")
data_type = type(complex_number)
print("Complex Number:", complex_number)
print("Data Type:", data_type)

Complex Number: (2+3j)
Data Type: <class 'complex'>

## 2. Boolean Type 
- Boolean Type holds one of 2 values `True` or `False`.
- Case sensitive: True != true  or  False != false
- Output of listed operators are of Boolean Type
  - `Comparison Operators (7 == 7)`
  - `Logical Operators (not(1<5))`
  - `Identity Operators (x is y)`

In [4]:
# create a variable of boolean type named "bool_val"
bool_val = True
print(type(bool_val))

<class 'bool'>

In [5]:
# get the type of boolean variable 
bool_val = True
print(type(bool_val))

<class 'bool'>

**Most values are True**  
- Any number is True (+ve, -ve) except 0.
- Any string is True, except empty string.
- Any list, tuple, set, and dictionary are True, except empty ones.

You can use **bool()** function to evaluate any values, that returns `True` or `False`

In [6]:
# Evaluate using bool() for 
# 1. any non zero integer, float 
# 2. any non empty string
#
# Hint: bool(value)
print(bool(3))
print(bool(-5))
print(bool(0))
print(bool(float('-7.9')))
print(bool(""))
print(bool("Hello World!"))

True
True
False
True
False
True

**Some values are False**  
- number `0 or 0.0` evaluates to False
- Value `None` evaluates to False
- False `evaluates` to False
- empty string `""` evaluates to False
- Empty values, `(), [], {}`, evaluates to False

In [7]:
# Experiment above cases with bool() function
print(bool(0))
print(bool(0.0))

False
False

**Python Conditions quick intro**

Q. Write a python program to get two inputs a and b from user and print message
  - "a is greater than b" if a > b
  - "a is equal to b" if a = b
  - "a is less than b" if a < b

In [1]:
## write your program here
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("a is less than b")

**Given a = 10 and b = 20, what is the output of a and b?** Why?