In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
#Iris
iris_df = pd.read_csv('Iris.csv')
iris_df.shape

(150, 6)

In [10]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
iris_df.describe(include = "O")

            Species
count           150
unique            3
top     Iris-setosa
freq             50

<!-- Visualize target class -->
<!-- target_df = iris_df [''] -->

In [7]:
# Data to plot

labels = 'freq', 'freq'
sizes = [50, 50]
colors = ['lightblue', 'lightgreen']
explode = (0.1, 0)  # explode the 1st slice

# Plot
# plt.figure(figsize=(8, 6))
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

plt.axis('equal')
plt.title('Target Class Distribution in Logistic Regression Model')
plt.show()

NameError: name 'plt' is not defined

In [1]:
iris_df = iris_df.drop('Id', axis= 1)
iris_df.head()

NameError: name 'iris_df' is not defined

In [ ]:
plt.figure(figsize = (8,6))
sns.pairplot(iris_df)

In [2]:
data = iris_df.drop('Species', axis=1)
labels = iris_df['Species']

NameError: name 'iris_df' is not defined

In [3]:
data.head()

NameError: name 'data' is not defined

In [ ]:
labels.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
classifier = LogisticRegression()

In [ ]:
classifier.fit(X_train, y_test)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
y_pred